<div *ngIf="erreur" class="alert alert-danger" style="text-align: center;">
	Erreur lors de la création : l'utilisateur existe !
</div>
<div *ngIf="creer" class="alert alert-success" style="text-align: center;">
	Utilisateur creer avec success
</div>

<div>
	<h3> Ajouter un utilisateur</h3>
</div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">

	<div class="form-group form-horizontal row" >
	    <label for="nom" class="col-xs-4">
	      Nom :
	    </label>
	    <div class="col-xs-8">
	    	<input type="text" #nom="ngModel" class="form-control " name="nom" ngModel required>
	    </div>
	    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
		  <div *ngIf="nom.errors.required" style="text-align: center;">
		              Le champ nom est obligatoire
		  </div>
		</div>
	    
	</div>

	<div class="form-group row form-horizontal">
	    <label for="prenom" class="col-xs-4">
	      Prénom :
	    </label>
	    <div class="col-xs-8">
	    	<input type="text" #prenom="ngModel" class="form-control " name="prenom" ngModel required>
		</div>
		<div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert alert-danger">
		  <div *ngIf="prenom.errors.required" style="text-align: center;">
		              Le champ nom est obligatoire
		  </div>

		</div>
	</div>

	<div class="form-group row form-horizontal">
	    <label for="telephone" class="col-xs-4">
	      Téléphone :
	    </label>
	    <div class="col-xs-8">
	    	<input type="tel" #telephone="ngModel" class="form-control " name="telephone" pattern="[0-9]{10,16}"  ngModel required>
	    </div>
	    <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert alert-danger">
		  <div *ngIf="telephone.errors.required" style="text-align: center;">
		              Le champ telephone est obligatoire
		  </div>
		  <div *ngIf="telephone.errors.pattern "style="text-align: center;">
              format invalide : 10 chiffres minimum
            </div>
		</div>
	</div>

	<div class="form-group form-horizontal row">
	    <label for="region" class="col-xs-4">
	      Région
	    </label>
	    <div class="col-xs-8">
	    	<select #region="ngModel" class="form-control" name="region" ngModel required>
	    		<option value="" [disabled]="true">Selectionnez une région</option>
	      		<option *ngFor="let region of regions" [ngValue]="region.nom">{{region.nom}}</option>
	   		</select>
		</div>
		<div *ngIf="region.invalid && (region.dirty || region.touched)" class="alert alert-danger">
		  <div *ngIf="region.errors.required" style="text-align: center;">
		              Le champ region est obligatoire
		  </div>
		</div>
	    
	</div>
	<button class="btn btn-primary" type="submit" [disabled]="!f.valid">Enregistrer</button>
</form>
